a {
  text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

button {
    color: #f9faf8;
    font-size: 18px;
    padding: 4px 16px;
}

body > div {
    flex: 1;
    padding: 10px 200px;
}

/* Button and call to action (cta) background color */
button,
.cta {
    background-color: #3882f6;
    border: #3882f6;
    border-radius: 5px;
}

/* Background color for header, hero and footer */
.head-hero,
.footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    height: 50px;
}

.header-logo, 
.cta {
    color: #f9faf8;
    font-size: 24px;
}

.hero {
    display: flex;
    justify-content: center;
}

/* .hero-left {
    display: flex;
    flex-direction: column;
} */

.information-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder; 
}

.secondary-text,
a {
    color: #e5e7eb;
    font-size: 18px;
}

#button-one {
    margin-top: 8px;
}

#button-two {
    border-color: white;
}

.quote-section,
.image-placeholder {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 32px;
    font-style: italic;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}