a {
  text-decoration: none;
}

#attribution {
    color: #1f2937;
    font-size: 24px;
    text-align: right;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.box {
    border-color: #3882f6;
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
    height: 125px;
    margin-bottom: 5px;
    width: 125px;
}

button {
    color: #f9faf8;
    font-size: 18px;
    padding: 4px 16px;
}

#button-one {
    margin-top: 8px;
}

body > div {
    flex: 1;
    padding: 10px 200px;
}

/* Button and call to action (cta) background color */
/* Rounded corners  */
button,
.cta {
    background-color: #3882f6;
    border: #3882f6;
    border-radius: 5px;
}

.cta {
    padding: 30px 150px;
}

.cta-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.cta {
    align-items: center;
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

.cta-left {
    display: flex;
    flex-direction: column;
}

.cta-right {
    border-color: white;
    border-style: solid;
    border-width: thin;
}

/* Background color for header, hero and footer */
.head-hero,
.footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    height: 50px;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-logo, 
.cta {
    color: #f9faf8;
    font-size: 24px;
}

.hero {
    display: flex;
    gap: -50px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px ;
    padding-bottom: 30px;
}

.hero > div {
    flex: 1;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-right > img {
    min-width: 500px;
    height: auto;
}

/* .hero-right {
    display: flex;
    flex-direction: column;
} */

/* Fill up vertical space */
.hero-right > div {
    flex: 1;
}

.illustration-text {
    color: #6d747d;
    text-align: center;
}

img {
    height: auto;
    width: 100px;
}

.image-placeholder {
    background-color: #6d747d;
}

.images-subtext {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 70px;
}

.images-subtext-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder; 
}

.secondary-text,
a {
    color: #e5e7eb;
    font-size: 18px;
}

/* Center the text in image placeholder */
.secondary-text.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-section {
    align-items: center;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 80px;
}

.quote-text {
    color: #9ca1a8;
    font-size: 32px;
    font-style: italic;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}